<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>Stamp Duty Land Tax</title>
    <link href = "{{ url_for('static', filename= 'styles/style.css')}}" 
    rel="stylesheet"/>
</head>

<body>
     <h1> Stamp Duty Land Tax </h1>
     <form action="/price">
        <input type="number" name ="price" 
        placeholder="Enter a price">
        <button type="submit">Submit</button>
     </form>
</body>

</html>